table {
    border-collapse: collapse;
    border-color: black;
    text-align: center;
    border: 1px solid black;
    width: 300px;
}
th {
   width: 20%;
   border: 1px solid black;
   }
td {
   border: 1px solid black;
   }
td:first-child {
    width: 10%;
   }
td:last-child {
    width: 65%;
   }