table {
    border-collapse: collapse;
    border-color: black;
    text-align: center;
    border: 1px solid black;
}
td {
    border: 1px solid black;
}
th {
    border: 1px solid black;
}
.first {
    width: 10%;
}
.second {
    width: 25%;
}
.third {
    width: 65%;
}